ACTIVE_STORAGE_VARIANT_PROCESSOR=vips

KAMIFUSEN_DISABLE_WEBP=
KAMIFUSEN_KEYCDN_HOST=https://abc-def.kxcdn.com

SCALEWAY_OS_ACCESS_KEY_ID=
SCALEWAY_OS_BUCKET=
SCALEWAY_OS_ENDPOINT=
SCALEWAY_OS_REGION=
SCALEWAY_OS_SECRET_ACCESS_KEY=
