<h2>After</h2>
<%= link_to 'Before', before_path %>
<% @samples.each do |sample| %>
  <% if sample.image.attached? %>
    <div>
      <%= kamifusen_tag sample.image,
                        alt: sample.image.filename,
                        width: 500 %>
      <%= kamifusen_tag sample.image,
                        alt: sample.image.filename %>
      <%= kamifusen_tag sample.image,
                        alt: sample.image.filename,
                        class: 'class',
                        picture_class: 'picture_class' %>
    </div>
  <% end %>
<% end %>
